.container-producto{
    margin-top:20px
}

.product-content{
    margin-top:60px;
    background-color: var(--light-medium-color);
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-bottom: 80px; */
}

.product-content> h2{
    color: var(--dark-color);
}

.product__ubication-ratings{
    padding:5px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,2,0.5);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__ubication-map  > p{
    font-weight: var(--font-weight-bold);
}

.product__ratings{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: blue; */
    width: 50%;
    align-items: center;
 
}

.product__ratings-clasification{

}
.product__ratings-score{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;/* padding: 5px; */
    margin-left: 10px;
    background-color: var(--medium-color); 
    border-radius: 10px; 
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
    color: var(--light-color);

}
.product__gallery{
    display:flex;
    justify-content: center;
    /* height: 500px; */
  
}

.product__description{
    padding:10px;
    margin-top: 20px
}
.product__description > h2{
    margin-bottom:10px;
    color: var(--dark-color);
}

.product__description > p{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.product__features{
    padding:10px;
    
}
.product__features-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;  
    flex-wrap: wrap; 
}
.product__features-amenities{
    display: flex;
    flex-direction: columm;
    justify-content: flex-start;
    align-items: top;
    width: 100%;
    flex-wrap: wrap;
}
.product__features-amenities-item {
     width:45vw;
     padding-bottom:5px;   
}
.product__features-amenities-item > img{
    margin-right: 5px;
}
.product__availability{
    padding:10px;
    background-color: #ececef;
}


.calendarReserve{

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product__ubication-map{
    background-color: var(--light-color);
    /* margin-top: 20px; */
    padding:10px;
    
}
.product__ubication-map > p, .product__ubication-map >h2{
    /* margin: 10px; */
}

#mapa{
    border-radius: 20px;
}

.back{
    color: #fff;
}

@media (min-width: 1360px)  {
    /* .product__features-amenities{
        display: flex;
        flex-direction: columm;
        justify-content: flex-start;
        align-items: top;
        width: 100%;
        flex-wrap: wrap;
    } */
    .product__features-amenities-item {
         width:20vw;
         padding-bottom:5px;   
    }
}