.container-my-booking {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
}

.my-booking-card .my-booking-card__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 20px;
    gap: 20px;
    justify-content: center;
}

.my-booking-card .my-booking-card__title {
    margin: 1.4rem 0px;
    color: var(--dark-color);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-bold);
}

.my-booking-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin-bottom: 100px;*/
    margin-top: 80px;
    /* margin-left: 20px; */
    gap: 20px;
    justify-content: center;
}

.modal-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.modal-score .modal-score__title {
    margin: 1rem 0px;
    color: var(--dark-color);
    font-size: 2rem;
}

.modal-score__stars {
    display: flex;
    flex-direction: column;
}

.modal-score__stars_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.modal-score__stars__star i {
    font-size: 2.5rem;
    cursor: pointer;
}

/* .modal-score .modal-score__stars__star:hover {
    color: var(--main-color);
} */

.modal-score .modal-score__stars_face {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-score .modal-score__stars_icon_face {
    font-size: 2.5rem;
    opacity: .7;
}

@media (min-width: 1361px) {
    .wrapper {
        justify-content: center;
    }
}