.favorites .container-favorites {
   margin-top:  80px;
   width: 100%;
}

.container-cards{
    margin-top: 100px;
}

@media (min-width: 1361px) {

    .favorites .container-favorites h1 {
        margin: 2rem 0px;
    }

    .favorites .wrapper {
        justify-content: center;
    }
}