* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --main-color: #1DBEB4;
    --dark-color: #383B58;
    --medium-color: #545776;
    --light-medium-color: #F3F1ED;
    --light-color: #ffffff;

    --main-font-family: 'Roboto', sans-serif;
    /*icon*/
    --font-size-icon: 24px;
    /* h1 */
    --font-size-1: 24px;

    /* h2 */
    --font-size-2: 20px;

    /* h3 y Botton2 */
    --font-size-3: 16px;

    /* h4, Botton1, Text1 */
    --font-size-4: 14px;

    /* Text2 */
    --font-size-5: 12px;

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

.container-searcher {
    position: relative;
    width: 100%;
    height: 151px;
    background-color: var(--medium-color);
}

.container-searcher__titulo {
    font-size: var(--font-size-1);
    font-family: var(--main-font-family);
    font-weight: var(--font-weight-bold);
    color: var(--light-color);
    padding: 20px 30% 10px;

}

.container-searcher__form {
    display: flex;
    flex-direction: row;
    /*Modifique*/
    justify-content: center;
    align-content: center;
}

.container-searcher__form__button {
    margin-top: 1rem;
    margin-right: 10rem;
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border: transparent;
    /*AQUI*/
    border-radius: 6px;
    font-size: var(--font-size-3);
    font-family: var(--main-font-family);
    color: var(--light-color);
}

@media (max-width: 480px) {
    .container-searcher__form {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .container-searcher__form__button {
        margin: 0;
        width: 100%;
    }
}