:root {
 
    --main-color: #1DBEB4;
    --dark-color: #383B58;
    --medium-color: #545776;
    --light-medium-color: #F5F5F5;
    --light-color: #ffffff;
   
    --main-font-family: 'Roboto', sans-serif;
    /*icon*/
    --font-size-icon:24px;
    /* h1 */
    --font-size-1: 24px;

    /* h2 */
    --font-size-2: 20px;

    /* h3 y Botton2 */
    --font-size-3: 16px;

    /* h4, Botton1, Text1 */
    --font-size-4: 14px;

    /* Text2 */
    --font-size-5: 12px;

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: var(--main-font-family);
    font-size: var(--font-weight-medium);
    
}

input{
    height: 40px;
    width:300px;
    color: var(--medium-color);
    border-radius: 5px; 
    border : 1px solid var(--medium-color); 
    padding: 10px;
}


.content{
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 60px 50px;
}
.container{
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 60px 50px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh; 
} 

input{
    width: 100%;
    height: 40px;
    border-radius: 5px; 
    border : 1px solid var(--medium-color); 
    padding: 10px;
}

/* media */
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 730px) and (max-width: 1024px) {
  
    .status-login{
        flex-wrap: nowrap;
    }
    .identity{
        max-width: 100px;
    }
    .button-2{
        margin-right: 0px;
    }
   
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 730px) and (max-width: 1024px) and (orientation: landscape) {
    
    .status-login{
        flex-wrap: nowrap;
    }
    .identity{
        max-width: 100px;
    }
    .button-2{
        margin-right: 0px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  @media (max-width: 480px) {
    

 
     
  }