*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
 
    --main-color: #1DBEB4;
    --dark-color: #383B58;
    --medium-color: #545776;
    --light-medium-color: #F3F1ED;
    --light-color: #ffffff;
   
    --main-font-family: 'Roboto', sans-serif;
    /*icon*/
    --font-size-icon:24px;
    /* h1 */
    --font-size-1: 24px;

    /* h2 */
    --font-size-2: 20px;

    /* h3 y Botton2 */
    --font-size-3: 16px;

    /* h4, Botton1, Text1 */
    --font-size-4: 14px;

    /* Text2 */
    --font-size-5: 12px;

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 40px;
}

/*MEDIA QUERY*/

/*IPAD*/
@media (min-width: 730px) and (max-width: 1024px){
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/*MOBILE*/
@media (max-width: 480px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }
    .card-list__info__score{
        margin-left:-15px;
    }
}