h2{
    position: relative;
}

.form-login{
    color: var(--main-color);
}

.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
}

.form__body label {
    margin-top: 1rem;
}


.form__input{
    border: 1px solid #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); 
    width: 65vw;
    margin: 10px 0px 10px 0px;
    height: 40px;
    padding: 1rem;
}

.form__text{
    font-size: var(--font-size-5);
    margin-top: 1rem;
}

.form__text a{
    text-decoration: none;
    color:blue    
}

.form_error{
    color: red;
    font-size: var(--font-size-5);
    margin-bottom: 10px;
    display: block; 
    text-align: end;
}

.sign-in-button{
    width: 65vw;
    height: 40px;
    margin-top: 20px;
}

.validation-errors {
    background-color: #FFE1E1;
    border: 1px solid #FF0000;
}

/*IPAD*/
@media (min-width: 761px) and (max-width: 1360px) {

    .sign-in-button{
        width: 47vw;
    }
}

/*DESKTOP*/
@media (min-width:1361px){
    .sign-in-button{
        width: 13vw;
    }
}