.content-superior{
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:  0;
}


.content_cards{
    display:flex;
    justify-content: space-between;
    background-color: #fff; 
    margin: 0px;
    flex-wrap: nowrap;
    max-width: 100%;
}

h2{
    color: var(--medium-color)   ;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-bold);
}

.content{
    padding: 0px;
}

    .content_category-cards{
        display:flex;
        justify-content: center;
        background-color: #fff; 
        flex-wrap: wrap;
    }

    h2{
        color: var(--medium-color)   ;
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-bold);
        padding: 0;
        margin-bottom: 0px;
    }


    .content_category-cards-titulo{
        /* color: var(--light-color); */
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-bold);
        padding-top: 5%;
        padding-left: 20%;
    }

    .content_recomendaciones{
        /* background-color: var(--medium-color); */
        /* padding: 20px 20px; */
        width: 100%;
    }
    
    .content_recomendaciones h2{
        /* color: var(--light-color); */
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-bold);
    }

@media (min-width: 760px) and (max-width: 1359px) {
    .content_category-cards{
       max-width:900px;
       margin: auto;
    }
    .content_category-cards-titulo{
        padding-left: 5%;
    }
}


@media (min-width: 1360px) {
    .content_category-cards{
        /* padding: 0 20px; */
        margin-bottom: 50px;
     }


}